:root {
  --backgroundColor: bisque;
  --cardColor: rgb(255, 255, 255);
  --darkRed: rgb(153, 13, 13);
  --purple: rgb(153, 19, 119);
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: outfit;
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
  font-family: young-serif;
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
body {
  font-family: outfit;
  font-size: 15px;
  line-height: 20px;
}
h1,
h2,
h3 {
  font-family: young-serif;
}

h1 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
  color: var(--darkRed);
}
h3 {
  font-size: 15px;
  color: var(--purple);
}

ul li::marker,
ol li::marker {
  color: var(--darkRed);
  font-weight: 700;
}
.section-break {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}
/* ********* */
.container {
  min-height: 100vh;
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 90%;
  margin: 6rem auto;
  max-width: 600px;
  height: auto;
  background-color: var(--cardColor);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card img {
  width: 100%;
  border-radius: 10px;
}
section li {
  line-height: 2;
}

section ul li label,
section ol li label {
  font-weight: 700;
}

.Preparation-time {
  background-color: rgba(153, 19, 119, 0.1);
  padding: 15px;
}
table {
  width: 100%;
}

table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}
table .number {
  color: var(--darkRed);
  font-weight: 700;
}
